# Copy this file to .env and update the values. Vite will expose vars starting with VITE_
VITE_EMAILJS_SERVICE_ID=service_r4ogcpz
VITE_EMAILJS_TEMPLATE_ID=template_pmrf3t6
VITE_EMAILJS_PUBLIC_KEY=MQKXJ-hH1OYvB73Go

# Do NOT commit your private/secret keys. If you have other secrets, keep them out of the repo.
